body{
    background-image: url(phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 100vh;
        padding: 0px;
        margin: 0px;
        position: relative;
}
h1{
    text-align: center;
    color: blue;
}

header{
    color: aqua;
}
h1{
    color: aqua;
}