ul li{
    list-style-type: none;
    margin: 0px;
    display: inline;
}
 h1{
    text-align: center;
    background-color: blueviolet;
 }
 .container{
   
    text-align: center;
 }
#container2 img {
    height: 400px;
    object-fit: cover;
}